<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">
    <quote>Beep boop, I'm a robot</quote>
  </p>

  <div class="content-wrapper">
  <div class="text-block">
    <p>Collection of random stuff, mostly maths (hopefully) and programming (hopefully). You can [report any issues with the site here](https://github.com/Cyril9227/cyril9227.github.io/issues/new)</p>
  </div>
  <div class="gif-block">
    <img src="/assets/img/coding.gif" alt="Description of GIF">
  </div>
</div>

</div>